.background__image {
  background-image: url("../../../../assets/images/bg-today-large.svg");

  @media (max-width: 375px) {
    background-image: url("../../../../assets/images/bg-today-small.svg");
  }
}
